.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: #fbfbfb; */
    background-color:  rgb(242, 242, 250);
}
.box{
    min-height: 580px;
    min-width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex: .05;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(196, 195, 195);
}
.Auth_Btn{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.C_button{
    transition: all .3s ease-in;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: -2px -2px 6px rgba(255,255,255,1),
    2px 2px 6px var(--primaryColor);
    cursor: pointer;
  }
  .C_button:hover{
    box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
    inset 2px 2px 6px var(--primaryColor) ;
  }
  .C_btn_Dim{
    width: 100%;
    height: 40px;
    
  }
  .Login_button{
    transition: all .3s ease-in;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: -2px -2px 6px rgba(255,255,255,1),
    2px 2px 6px #3f3f72;
    cursor: pointer;
    padding: 0 70px;
    height: 36px;
    background-color: #3f3f72;
    color: white;
  }
  .Login_button:hover{
    box-shadow: inset -2px -2px 6px #9e9efa,
    inset 2px 2px 6px #252542 ;

  }
 .LoginForm{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     flex: .5;
     width: 100%;
 }
 .input{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   align-items: flex-end;
   padding: 0 40px;
 }
 .social_media {
    min-height: 3rem;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: 300;
    color: grey;
  }
  @media screen and (max-width:550){
    .box{
      min-width: 300px;
    }
  }