nav{
    background-color: white;
    height: var(--navBarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 4%;
    z-index: 1000;
    position: sticky;
    top:0;
    box-shadow: 0px 0px 10px #b3bbce;
}
.hamburger{
    cursor: pointer;
    display: none;
  }
  .line{
    width: 2rem;
    height: 4px;
    background-color: var(--LogoBorderColor);
    margin: .25rem 0;
    border-radius: 3px;
  }
  .logo-container{
    display: flex;
    
    align-items: center;
  }
  .SearchBox{
    display: flex;
  }
  .logo_img{
    height: 100%;
    margin-left: 10px;
    object-fit: cover;
    overflow: hidden;
  }
  .pageSearchCss{
    width: 600px;
    color: black;
  }
  @media screen and (max-width:1024px){
    .pageSearchCss{
      width: 400px;
    }
  }
  .hamburger:hover{
    transform: scale(1.2);
    transition: all .3s ease-in-out;
  }
  @media screen and (max-width:768px){
    nav{
      transition: all .3s ease-in-out;
    }
    .nav-logo{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .pageSearchCss{
      width: 350px;
    }
  }
  @media screen and (max-width:400px){
    nav{
      transition: all .3s ease-in-out;
    }
    .nav-logo{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .pageSearchCss{
      width: 250px;
    }
  }