.social-media {
    min-height: 3rem;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--primaryColor);
    font-weight: 300;
  }
  .social-media .social-icon-link{
    color: white;
  }
  .social-media .social-icons *:hover{
    transform: scale(1.15);
  }
@media screen and (max-width: 768px) {
    .social-media div:nth-child(1){
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    .social-media{
      flex-direction: column;
      height: 4rem;
      padding:.1rem 0;
    }
    .social-icons{
      order: 1;
    }
    .social-media div:nth-child(2){
      order: 2;
    }
  
  }